<section class="buy">
    <div class="buy-content">
        <div class="buy-items">
            <div class="buy-img">
                <img src="img/buy_img1.avif" alt="minecraft legends">
            </div>
            <div class="buy-text">
                <h3 class="buy-title">ОБЪЕДИНИ ВЕРХНИЙ МИР</h3>
                <p>Подними знамя, вдохнови союзников на победу 
                    над хищными пиглинами и спаси Верхний мир. Уже доступно.</p>
                <a href="#" class="buy-link">КУПИТЬ СЕЙЧАС</a>    
            </div>
        </div>

        <div class="buy-items">
            <div class="buy-img">
                <img src="img/buy_img2.avif" alt="minecraft legends">
            </div>

            <div class="buy-text">
                <h3 class="buy-title">СДЕЛАЙ ПРАЗДНИК СТИЛЬНЫМ</h3>
                <p>Все необходимое для вечеринки в стиле Minecraft, 
                    включая персонализированную одежду, аксессуары 
                    и принадлежности для вечеринки!</p>
                <a href="#" class="buy-link">За покупками</a>
            </div>
        </div>
    </div>
</section>