<footer class="footer">
    <h2>ПОДПИСАТЬСЯ НА НОВОСТИ MINECRAFT</h2>
    <div class="line-social">
        <a href="#">
            <i class="yt"></i>
        </a>
        <a href="#">
            <i class="in"></i>
        </a>
        <a href="#">
            <i class="fb"></i>
        </a>
        <a href="#">
            <i class="tw"></i>
        </a>
        <a href="#">
            <i class="rd"></i>
        </a>
    </div>

    <nav class="nav">
        <div class="block-nav">
            <div class="logo-container">
               <img src="img/Mojang2020Logo.png" alt="Mojang Logo">
               <img src="img/Logo_ Xbox_Game_Studio.webp" alt="">
            </div>
            <p class="copyright">
                © Mojang, 2009-2022. Товарный знак "Minecraft" принадлежит компании Mojang Synergies AB
            </p>
            <div class="copyright-green">
                <a href="#"> Просмотреть условия и положения Mojang </a>
                <a href="#">Просмотреть правила использования бренда и активов Mojang</a>
            </div>
        </div>

        <div class="block-nav">
            <div class="nav-list">
                <h2>ИГРЫ</h2>
                <a href="#">Minecraft</a>
                <a href="#">Minecraft Dungeons</a>
                <a href="#">Minecraft Legends</a>
                <a href="#">Minecraft Education</a>
                <h2>СООБЩЕСТВО</h2>
                <a href="#">Сообщество</a>
                <a href="#">Учебный портал для авторов</a>
                <a href="#">Карьера в Mojang Studios</a>
            </div>
        </div>

        <div class="block-nav">
            <div class="nav-list">
                <h2>МАГАЗИН</h2>
                <a href="#">Рынок</a>
                <a href="#">Магазин Minecraft</a>
                <h2>ПОДДЕРЖКА</h2>
                <a href="#">Обсуждения и справка</a>
                <a href="#">Отзывы и предложения</a>
                <a href="#">Карта сайта</a>
                <a href="#">Загрузить</a>
                <h2>УЧЕТНАЯ ЗАПИСЬ</h2>
                <a href="#">Профиль</a>
                <a href="#">Активация кода</a>
            </div>
        </div>

        <div class="block-nav">
            <img src="img/esrb_2021.svg" alt="ESRB">
        </div>

    </nav>

    <div class="globalfooter">
        <div class="rus">
            <i></i>
            <p>Русский</p>
        </div>
        <div class="right">
            <p>
                <a href="#">Конфиденциальность и cookie-файлы</a>
                <a href="#">Условия использования</a>
                <a href="#">Товарные знаки</a>
                <a href="#">О нашей рекламе</a>
            </p>
            <p>© Корпорация Майкрософт (Microsoft Corporation), 2023</p>
        </div>
        <a href="#" class="mic">
            <img src="img/Logo_ Microsoft.svg" alt="Microsoft Logo">
        </a>
    </div>
</footer>